h2{
    text-align:center;
}
.home{
    margin-left: 500px;
    margin-bottom: 10px;
}
.home1{
    margin-left: 470px;
    margin-bottom: 10px;
}
.home2{
    margin-left: 450px;
    margin-bottom: 10px;
}
.home3{
    margin-left: 500px;
    margin-bottom: 10px;
}

.home4{
    margin-left: 470px;
    margin-bottom: 10px;
}
.home5{
    margin-left: 450px;
    margin-bottom: 10px;
}
.home6{
    margin-left: 600px;
    margin-bottom: 10px;
}
