.home{
    color:green;
    font-size:20px;
}

.home1{
    color:rgba(255, 99, 71, 0.5);
    font-size:30px;
}

.home2{
    color:#ff6348;
    font-size:40px;
}

.home3{
    font-weight:bold;
}